/*=============== VARIABLES CSS ==========================*/
:root {
  --header-height: 6rem;
  /*=============== COLLORS ============================*/
  --first-color: #ffffff;
  --first-color-light: #714aff;
  --second-color: #000000;
  --second-color-light: #ffffff;
  --white-color: #ffffff;
  --black-color: #161616;

  /*=============== FONT AND TYPOGRAPHY ================*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*=============== FONT WEIGHT ========================*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;

  /*=============== Z INDEXS ===========================*/
  --z-fixed: 100;
  --z-tooltip: 10;
  --z-negative: -1;
}
/*=============== RESPONSIVE TYPOGRAPHY ==================*/
@media screen and (min-width: 1024px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===================================*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  background: var(--body-color);
  background-color: #ffffff;
  font-size: var(--normal-font-size);
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*=============== CLASS REUTILIZABLE =====================*/
.container {
  max-width: 1020px;
  margin: 0 auto;
}
.section {
  padding: var(--header-height) 2rem;
}
.grid {
  display: grid;
}

/* STYLE TITLE */
.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
  text-align: center;
}
.section__title span {
  color: #714aff;
  font-weight: var(--font-black);
  text-transform: uppercase;
}
.section__subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: #000000;
  line-height: 24px;
  text-align: center;
  margin-top: -1.5rem;
}

/* BUTTONS */

/*============== HEADER ==================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: var(--z-fixed);
  transition: background-color 0.4s;
}
.logo {
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  color: #000000;
  transition: color 0.4s;
}

.logo:hover {
  color: #000000;
}

/* SCROLL HEADER */
.scroll-header {
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

/*=============== NAVBAR =================================*/

/* MEDIA QUERY NAVBAR */
@media (max-width: 960px) {
  .nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-block: 5rem;
    z-index: var(--z-fixed);
    transition: top 0.4s;
  }
  .nav__item {
    padding-bottom: 2rem;
  }
  .nav__img {
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 150px;
    z-index: var(--z-negative);
  }
  .show-menu {
    top: 0;
  }
  .nav__item:hover .submenu {
    background-color: #ffffff;
    display: block;
    margin-left: 180px;
  }
}
.nav__link {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  color: #000000;
  border-bottom: 2px solid transparent;
  transition: color 0.1s, border-bottom 0.1s;
}

.active-link {
  color: #714aff;
  border-bottom: 2px solid var(--first-color-light);
}

.nav__close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
}
.icon__close {
  font-size: 1.5rem;
  color: var(--second-color);
  transition: color 0.4s;
}
.icon__close:hover {
  color: var(--second-color-light);
}

/*=============== HOME ===================================*/

.home {
  position: relative;
}
.home__content {
  text-align: center;
  margin-block: 3rem;
}
.home__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  color: var(--black-color);
  line-height: 36px;
  margin-bottom: 1rem;
}
.home__title span {
  font-size: calc(var(--big-font-size) + 1rem);
  font-weight: var(--font-black);
  color: var(--white-color);
}
.home__subtitle {
  font-size: 200%;
  font-weight: var(--font-semi-bold);
  color: #000000;
  margin-bottom: 1.5rem;
}
.countdown {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}
.time {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color-light);
  border-radius: 50%;
  color: var(--white-color);
  padding: 2rem;
}
.time h2 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  line-height: 32px;
}
.time small {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-regular);
}

/*=============== ABOUT ==================================*/
.about__content {
  margin-bottom: 2.5rem;
  text-align: center;
}
.about__content h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-extra-bold);
  line-height: 30px;
  margin-bottom: 1rem;
  color: #000000;
}
.about__content h1 span {
  color: #000000;
}
.about__content p {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
}
.about__img {
  display: inline;
  width: 350px;
  margin: 0 auto;
}
.about__img2 {
  display: inline;
  width: 350px;
  margin: 0 auto;
}

/*=============== CATEGORY ===============================*/
.category__content {
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  gap: 4rem;
}
.category__card {
  width: 250px;
  background-color: #ffffff;
  border: 2px solid var(--second-color);
  border-radius: 16px;
  padding: 2rem 3rem;
  transition: background-color 0.4s;
}
.category__card:hover {
  background-color: #000000;
}
.category__desc {
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  text-align: center;
  color: #000000;
  transition: color 0.4s;
}
.category__card:hover .category__desc {
  color: #ffffff;
}

/*=============== DONATE =================================*/
.donate__title {
  text-align: center;
  margin-bottom: 3.5rem;
}
.donate__title h1 {
  margin-left: -10px;
  font-weight: var(--font-bold);
  font-size: 15px;
  line-height: 42px;
  color: #161616;
  margin-bottom: 1.5rem;
}
.donate__img {
  margin-left: 100px;
  display: inline;
  margin: 0 auto;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  text-shadow: 0 1px #fff;
}

button:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

button:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

/*=============== ACCESSORY ==============================*/
.accessory__cards {
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 290px);
  gap: 2rem;
  margin-top: 2.5rem;
}
.accessory__card {
  background-color: var(--first-color);
  border-radius: 8px 8px 60% 8px;
  box-shadow: 0 8px 240px rgba(76, 0, 255, 0.25);
  padding: 1.5rem 2rem;
  position: relative;
  transition: border-radius 0.4s;
}
.accessory__card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #714aff;
  border-radius: 8px;
  z-index: var(--z-negative);
}
.accessory__card:hover {
  border-radius: 60% 0 60% 0;
}
.accessory__card img {
  height: 200px;
}
.accessory__desc {
  font-size: var(--h3-font-size);
  font-weight: var(--font-regular);
  color: #000000;
}
.accessory__price {
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  color: #000000;
}
.accessory__card .btn__icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
  transition: transform 0.4s, right 0.4s;
}
.accessory__card .btn__icon:hover {
  transform: rotate(-25deg);
  right: 0.85rem;
}

/*=============== DISCOUNT ===============================*/
.discount img {
  margin-bottom: 1.5rem;
}
.discount__content h1 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  text-align: center;
}
.discount__content h1 span {
  font-size: 100px;
  font-weight: var(--font-black);
  line-height: 120px;
  color: var(--first-color);
}
.discount__content h1 b {
  font-size: var(--h1-font-size);
  color: var(--second-color);
}

/*=============== CONTACT ================================*/
.contact__content {
  margin-bottom: 2.5rem;
}
.contact__content h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  line-height: 32px;
  margin-bottom: 1.5rem;
  text-align: center;
}
.contact__content h2,
.contact__form h2 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.5rem;
  text-align: center;
}
.contact__info {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.contact__info .icon__contact {
  font-size: var(--h3-font-size);
  color: #000000;
}
.contact__info a {
  font-size: var(--h3-font-size);
  color: #000000;
  transition: color 0.4s;
}
.contact__info a:hover {
  color: var(--second-color);
  text-decoration: underline;
}
.contact__form {
  width: 100%;
}
.contact__form h2 {
  margin-bottom: 1.5rem;
}
.contact__form input,
.contact__form textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--first-color);
  background-color: transparent;
  margin-bottom: 1.5rem;
  font-size: var(--h3-font-size);
  padding: 0 0 0.5rem 1rem;
}
.contact__form label,
.textearea__label small {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-regular);
}
.contact__form textarea {
  resize: none;
}

/*=============== FOOTER =================================*/
.footer {
  background-repeat: no-repeat;
  background-position: bottom;
  border-top: 1px solid #000000;
  padding-top: 3.5rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding-bottom: 2.5rem;
}
.social__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.social__box .icon__social {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  transition: color 0.4s;
}
.social__box .icon__social:hover {
  color: var(--second-color);
}
.footer__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
  color: #000000;
}
.footer__subtitle {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: #000000;
}
.form__control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}
.form__control input {
  width: 100%;
  border: 1px solid var(--first-color);
  padding: 1rem;
  outline: none;
}
.form__control input:focus {
  border: 1px solid var(--first-color-light);
}
.form__control .btn {
  border-radius: 0 8px 8px 0;
  padding: 1rem 1.5rem;
  border: 1px solid var(--first-color);
}
.footer__cards {
  text-align: center;
}
.footer__cards img {
  width: 40px;
}
.copy {
  text-align: center;
  font-size: var(--smaller-font-size);
  padding-block: 1rem 2rem;
}
.copy p {
  font-weight: var(--font-bold);
}
.copy span {
  font-weight: var(--font-regular);
}
.footer__adress {
  color: #000000;
}

/*=============== MEDIA QUERY ============================*/
@media (min-width: 620px) {
  .donate {
    grid-template-columns: 60% 40%;
    align-items: center;
  }
  .donate__title {
    text-align: initial;
  }
  .discount {
    grid-template-columns: 40% 60%;
    align-items: center;
  }
  .footer__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media (min-width: 760px) {
  .contact {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .contact__content h1,
  .contact__content h2,
  .contact__form h2 {
    text-align: initial;
  }
  .contact__info {
    justify-content: flex-start;
  }
}
@media (min-width: 860px) {
  .home {
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home__content {
    text-align: initial;
  }
  .home__title {
    color: var(--black-color);
  }
  .home__title span {
    color: var(--second-color);
  }
  .time {
    width: 90px;
    height: 90px;
  }
  .about {
    height: 100vh;
    grid-template-columns: 40% 60%;
    align-items: center;
    column-gap: 2rem;
  }
  .about .about__content {
    order: 2;
    padding-inline: 2rem;
  }
  .about__content {
    text-align: initial;
  }
  .discount__content {
    margin: 0 auto;
  }
  .discount__content h1 {
    text-align: initial;
  }
  .discount__content h1 span {
    font-size: 160px;
    line-height: 140px;
  }
}
@media (min-width: 960px) {
  .nav__close,
  .nav__img,
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__link {
    font-size: var(--normal-font-size);
  }
  .donate__title h1 {
    line-height: 56px;
  }
}
.button {
  --border-right: 6px;
  --text-stroke-color: rgb(0, 0, 0);
  --animation-color: #000000;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
.bi {
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: 10px;
  color: #714aff;
}
.preto {
  display: block; /* Torna a imagem visível por padrão */
}
.branca {
  display: none;
}
#cafeP {
  display: block; /* Torna a imagem visível por padrão */
}
#cafeB {
  display: none;
}
#cafe1 {
  color: #000000;
}
#cafe5 {
  color: #000000;
}
.copy {
  color: #000000;
}
#insta1 {
  color: #000000;
}
#face1 {
  color: #000000;
}
#ham {
  color: #714aff;
}
#nav-toggle {
  color: #714aff;
}
#header {
  color: #714aff;
}
#cafe5 {
  color: #000000;
}
#filtro-produtos {
  padding: 10px;
  width: 300px;
  margin-top: 20px;
  margin-right: 20px;
}
/* Estilizando o seletor de categorias */
#categoria {
  margin-top: 100px;
  margin-left: 130px;
  padding: 8px;
  background-color: #714aff; /* Cor de fundo */
  border: 1px solid #000000; /* Borda */
  border-radius: 5px; /* Cantos arredondados */
  width: 150px;
  font-size: 16px;
  color: #ffffff; /* Cor do texto */
}
/* Estilizando os cards de produtos */
.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}
input {
  margin-left: 60px;
}
/* Estilos para o submenu */
.submenu {
  display: none;
  position: absolute;
  background-color: #fff; /* Cor de fundo do submenu */
  padding: 10px;
  border: 1px solid #ccc; /* Borda do submenu */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Estilos para o link do submenu quando o mouse está sobre ele */
.nav__item:hover .submenu {
  background-color: #ffffff;
  display: block;
}

/* Estilos para as opções do submenu */
.submenu li {
  margin-bottom: 5px;
  font-size: 10px;
}

/* Estilizar links com a classe "custom-link" */
.custom-link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
}

/* Estilizar links com a classe "custom-link" quando o mouse está sobre eles */
.custom-link:hover {
  color: #714aff;
}

/* Estilizar apenas o link "ACESSÓRIOS" sem afetar outros links */
#accessory-submenu a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px; /* Espaçamento entre a borda e o texto */
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
#accessory-submenu a:hover {
  color: #714aff;
}

/* Estilizar o link "ACESSÓRIOS" quando o mouse está sobre ele */
/* Estilos para o perfil */
.perfil {
  width: 60px;
  height: 60px;
  background-color: #714aff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  margin-right: 20px;
  float: left;
}

/* Estilos para o depoimento */
.depoimentos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.depoimento {
  border: 2px solid #714aff;
  padding: 20px;
  margin: 20px;
  width: 300px;
  text-align: left;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para a classificação (estrelas) */
.estrelas {
  display: flex;
  margin-bottom: 10px;
}

.fa {
  font-size: 18px;
  color: #3700ff;
}

.checked {
  color: #714aff;
}

/* Estilos para o texto do depoimento */
.texto {
  text-align: center;
}

.comentario {
  font-size: 18px;
  margin-bottom: 10px;
}

.cliente {
  font-style: italic;
}
.estrelas {
  display: flex;
  margin-bottom: 10px;
}

.fa {
  font-size: 18px;
  color: #ffd700;
}

.checked {
  color: #ffd700;
}

/* Estilos para o texto do depoimento */
.texto {
  text-align: center;
}

.comentario {
  font-size: 13px;
  margin-bottom: 10px;
}

.cliente {
  font-style: italic;
}
